<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Draft">
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".data.DepositRepository"
            android:exported="false"
            android:label="@string/title_activity_deposit_repository"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".data.Database"
            android:exported="false"
            android:label="@string/title_activity_database"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".data.DepositDao"
            android:exported="false"
            android:label="@string/title_activity_deposit_dao"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".data.DepositCalculation"
            android:exported="false"
            android:label="@string/title_activity_deposit_calculation"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".Stage03Activity"
            android:exported="false"
            android:label="@string/title_activity_stage03"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".Stage02Activity"
            android:exported="false"
            android:label="@string/title_activity_stage02"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".Stage01Activity"
            android:exported="false"
            android:label="@string/title_activity_stage01"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".Stage1"
            android:exported="false"
            android:label="@string/title_activity_stage1"
            android:theme="@style/Theme.Draft" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Draft">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>